@media screen and (min-width: 400px) {
    .containerPOTD {
        display: flex;
        gap: 20px;
        margin-top: 40px;
        justify-content: center;
    }

    #text {
        max-width: 600px;
    }

    #picSource img {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    #picSource {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    #picSource img {
        width: 300px;
        height: auto;
    }

    footer {
        position: relative;
    }
    
}